.button {
  flex-grow: 1;
  border-radius: 0;
  color: #2e2e2e;
  padding: 10px 5px;
  background: none;
  box-shadow: none;
  &:active {
    color: #bbb;
  }
  &:hover:not(:disabled) {
    background-color: #fff;
    background-color: transparent;
  }
}
