.container {
  background-image: image-set(
    url('@/shared/assets/rastr/pattern.webp') type('image/webp'),
    url('@/shared/assets/rastr/pattern.jpeg') type('image/jpeg')
  );
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  background-color: #00020b;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top: 1px solid #f7f7f7;
  padding: 6vh 20px 4vh 20px;
}

.title {
  font-size: 3.7vh;
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 6vh;
}

.emojiImg {
  width: 30px;
  margin-left: 5px;
}

.terms {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4vh;
  margin-top: 1vh;
  & > a {
    text-decoration: none;
    color: var(--main-color);
  }
}

.report {
  display: block;
  text-align: center;
  outline: none;
  color: currentColor;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  text-decoration: underline;
  -webkit-tap-highlight-color: transparent;
  &:active {
    color: var(--main-color);
  }
}
