@import 'tailwindcss';

@config '../../../tailwind.config.js';

@theme {
  --spacing-1e: 1em;
  --color-accept: #00e676;

  --shadow-white-glow: 0 0 25px rgba(255, 255, 255, 0.6), 0 0 50px rgba(255, 255, 255, 0.45),
    0 0 70px rgba(255, 255, 255, 0.25), 0 0 70px rgba(255, 255, 255, 0.1);
}

@layer utilities {
  .scroll-bar::-webkit-scrollbar {
    width: 4px;
  }

  .scroll-bar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(205, 205, 205, 0.4);
  }
}

@utility icon {
  /*
    Our base class for icons inherits the current text color and applies common styles.
    We're using a specific component class to prevent potential style conflicts and utilize the [data-axis] attribute.
    */
  @apply box-content inline-block fill-current text-inherit select-none;

  /* Set icon size to 1em based on its aspect ratio, so we can use `font-size` to scale it */
  &[data-axis*='x'] {
    /* scale horizontally */
    @apply w-[1em];
  }

  &[data-axis*='y'] {
    /* scale vertically */
    @apply h-[1em];
  }
}
