.button {
  flex-grow: 1;
  border-radius: 0;
  color: #2e2e2e;
  padding: 10px 5px;
  background: none;
  box-shadow: none;
  &:active {
    color: #bbb;
  }
  &:hover:not(:disabled) {
    background-color: #fff;
    background-color: transparent;
  }
}

.inner {
  display: flex;
  position: relative;
  padding: 3vh 1vh 2vh 3vh;
  padding-bottom: 2vh;
  @include minHSD {
    padding: 15px 13px 15px 13px;
  }
}

.imageWrapper {
  width: 23vh;
  height: 23vh;
  font-size: 4.5vh;
  margin-right: 17px;
  border-radius: 16px;
  background-color: #d6d6d6;
  padding: 2px;
  @include minHSM {
    width: 123px;
    height: 123px;
  }
}

.details {
  flex-grow: 1;
  padding-top: 1.7vh;
}

.title {
  font-size: 3vh;
  color: #fff;
  font-weight: 600;
  margin: 0;
  margin-bottom: 7px;
  @include minHSM {
    font-size: 17px;
  }
}

.author {
  font-size: 2.4vh;
  color: #878787;
  font-weight: 500;
  margin: 0;
  @include minHSM {
    font-size: 14px;
  }
}

.controls {
  display: flex;
  align-items: center;
  margin-top: 2vh;
  background-color: #fff;
  border-radius: 14px;
  max-width: 175px;
  @include minHSX {
    margin-top: 10px;
  }
}
