.container {
  color: #fff;
  padding: 20px 10px 0 10px;
}

.stepTitle {
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 10px;
  text-align: start;
}

.emojiImg {
  width: 30px;
  margin-left: 5px;
}

.subTitle {
  color: #ababab;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 40px;
}

.inner {
  padding: 0 5px;
  margin-bottom: 20px;
}

.nextButton {
  width: 100%;
  max-width: 210px;
  outline: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 17px;
}
