.container {
  padding-bottom: 3vh;
  text-align: center;
}

.title {
  font-size: 3.5vh;
  font-weight: 500;
  margin-bottom: 2vh;
}

.subTitle {
  color: #ababab;
  font-size: 2vh;
  padding: 0 3%;
}
