.dropzone {
  box-sizing: border-box;
  position: relative;
  border: 2px dashed;
  border-color: #b5b5b5;
  border-radius: 8px;
  width: 96%;
  outline: none;
  transition: border 0.3s;
  margin: 0 auto;
  margin-bottom: 2vh;
}

.plug {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.plugIconBox {
  padding: 3vh 2vh;
}

.plugIcon {
  font-size: 5vh;
  fill: #b5b5b5;
}

.done {
  fill: #fff;
}

.plugInfo {
  padding-bottom: 1.5vh;
  font-size: 2vh;
  & > p {
    padding: 0 10px;
    text-align: center;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
  }
  & > ul {
    color: #b5b5b5;
    list-style: disc;
    display: table;
    margin: 0 auto;
  }
}

.errorMessage {
  color: var(--error-color);
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-top: 10px;
  height: 13px;
  transition: all 0.3s linear;
  margin-bottom: 3vh;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.showError {
  opacity: 1;
}
