.container {
  padding-top: 2.5vh;
  @include minHSX {
    padding-top: 47px;
  }
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

@property --rotate {
  syntax: '<angle>';
  initial-value: 132deg;
  inherits: false;
}

.imageWrapper {
  position: relative;
  border-radius: 15px;
  font-size: 4vh;
  max-width: 35vh;
  margin: 0 auto;
  color: #dddddd;

  &::before {
    content: '';
    width: 104%;
    height: 104%;
    border-radius: 18px;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -2%;
    left: -2%;
    animation: spin 2.5s linear infinite;
  }
  &::after {
    position: absolute;
    content: '';
    top: 28px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(60vh / 6));
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
  }

  @include minHSX {
    font-size: 30px;
    max-width: 270px;
  }
}

.pause {
  .imageWrapper::before,
  .imageWrapper::after {
    opacity: 0.3;
    animation: none;
  }
}

.title {
  font-size: 4vh;
  font-weight: 500;
  text-align: center;
  display: block;
  clear: both;
  margin-bottom: 10px;
  margin-top: 5.5vh;
  white-space: normal;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.2s;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  &:hover,
  &:focus {
    outline: none;
  }

  @include minHSX {
    margin-top: 40px;
    font-size: 25px;
  }
}

.author {
  color: #939393;
  font-weight: 500;
  font-size: 2.8vh;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  @include minHSX {
    font-size: 15px;
  }
}
