.container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.subControl {
  color: #838383;
  background: none;
  font-size: 13px;
  outline: none;
  &:focus-visible {
    color: var(--main-color);
  }
  &:active {
    color: #bbb;
  }
  &:hover:not(:disabled) {
    background-color: transparent;
  }
}

.subControlActive {
  color: #fff;
}

.control {
  color: #fff;
  font-size: 3vh;
  background: none;
  outline: none;
  &:hover:not(:disabled) {
    background-color: #fff;
    background-color: transparent;
  }
  &:focus-visible {
    color: var(--main-color);
  }
  @include minHSX {
    font-size: 17px;
  }
}

.prevArrowIcon {
  transform: rotateY(180deg);
}

.playButtonWrapper {
  align-self: center;
}
