.button {
  width: 100%;
  color: #080808;
  max-width: 220px;
  padding: 2vh 2.5vh;
  background-color: #fff;
  font-size: 2.7vh;
  border: none;
  margin-top: 4vh;
  box-shadow:
    0 0 25px rgba(255, 255, 255, 0.6),
    0 0 50px rgba(255, 255, 255, 0.45),
    0 0 70px rgba(255, 255, 255, 0.25),
    0 0 70px rgba(255, 255, 255, 0.1);

  &:disabled {
    box-shadow: none;
  }

  &:hover:not(:disabled) {
    background-color: #fff;
  }

  @include minHSM {
    padding: 1.5vh 2vh;
    margin-top: 2.7vh;
  }

  @include minHSD {
    padding: 7px 10px;
    font-size: 14px;
    max-width: 100%;
  }
}

.addIcon {
  font-size: 2.5vh;
  margin-right: 5px;
  @include minHSD {
    font-size: 12px;
  }
}
