.base {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid;
  transition: all 0.3s;
  -webkit-tap-highlight-color: transparent;
  &:disabled {
    cursor: not-allowed;
    pointer-events: initial;
    opacity: 0.8;
  }
  &:focus {
    outline: none;
  }
}

.loader {
  display: flex;
  height: 1lh;
  width: 1lh;
  justify-content: center;
  border-right-color: inherit; // loader related
}

.fullWidth {
  width: 100%;
}

.loader {
  display: flex;
  justify-content: center;
}

/**
 *
 * [ COLOR VARIANTS ]
 *
*/

.primary {
  width: 100%;
  border: none;
  color: #171717;
  max-width: 220px;
  background-color: #fff;
  border-right-color: #171717;

  &:disabled {
    box-shadow: none;
  }

  @media (hover: none) {
    &:active:not(:disabled) {
      background-color: #ececec;
    }
  }

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: #ececec;
    }
  }
}

// primary with glow effect
.glow {
  box-shadow: var(--glow-shadow);
}

.secondary {
  color: #343434;
  background-color: var(--main-color);
}

.accept {
  color: #fff;
  border: none;
  background-color: var(--green-light);

  @media (hover: none) {
    &:active:not(:disabled) {
      background-color: #38e938;
    }
  }

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: #38e938;
    }
  }
}

.danger {
  color: #343434;
  background-color: #f44336;
  &:hover:not(:disabled) {
    background-color: #f2554a;
  }
}
