.dropdown {
  color: #fff;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  border: 1px solid #d5d5d5;
  border-radius: 8px;
}

.show {
  user-select: none;
}

.placeholder {
  color: #a5a5a5;
}

.expandIcon {
  font-size: 1rem;
  transition: all 160ms linear;
  fill: #fff;
}

.collapsed {
  transform: rotate(180deg);
}

.list {
  position: absolute;
  z-index: 110;
  background-color: #21272f;
  top: 130%;
  left: 0;
  width: 100%;
  padding: 6px 5px;
  border-radius: 8px;
  animation: list-appearance 300ms;
}

@keyframes list-appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.option {
  user-select: none;
  padding: 7px 0;
  padding-left: 3px;
  border-radius: 6px;
}

.option.selected {
  background-color: #303843;
}
