.redirectButton {
  display: block;
  outline: none;
  color: #cfcfcf;
  font-size: 15px;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 10px;
  text-decoration: underline;
  padding: 0;
  border: none;
  background: none;
  &:focus {
    color: var(--main-color);
  }
}
