.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.section {
  flex-basis: 33%;
  padding: 20px 10px;
}

.eyeIcon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-right: 5px;
}
