.labelEL {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  user-select: none;
  transition: all 0.2s ease;
  padding: 5px 8px;
  border-radius: 5px;
  &:hover {
    & > span {
      border-color: var(--main-color);
    }
  }
}

.uiEl {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  transform: scale(1);
  border: 2px solid #dcdcdc;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);

  & svg {
    position: absolute;
    top: 4px;
    left: 3px;
    fill: none;
    stroke: #101318;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

.checked {
  background: var(--main-color);
  border-color: var(--main-color);
  animation: wave 0.4s ease;
  & svg {
    stroke-dashoffset: 0;
  }
}

.label {
  color: inherit;
  font-size: inherit;
  font-weight: 500;
  padding-left: 11px;
}
