.submitButton {
  width: 100%;
  max-width: 240px;
  margin-bottom: 10px;
}

.errorMessage {
  height: 15px;
  font-size: 14px;
  margin: 0;
  text-align: center;
  color: #ff182e;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.showError {
  opacity: 1;
}
